@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile"
            asp-action="Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email"
            asp-action="Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password"
            asp-action="ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login"
                class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-action="ExternalLogins">External
                logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"
            id="two-factor" asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data"
            asp-action="Personaldata">Personal data</a></li>
</ul>

@* <div class="container-fluid mt-4">
    <div class="row no-gutters">
        <div class="col mt-1">
            <div class="@ManageNavPages.IndexNavClass(ViewContext)">
                <a asp-action="Index">Profile </a>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col mt-1">
            <div class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">
                <a asp-action="ChangePassword">Password </a>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col mt-1">
            <div class="@ManageNavPages.IndexNavClass(ViewContext)">
                <a asp-action="Email">Email </a>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col mt-1">
            @if (hasExternalLogins)
            {
            <div class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">
                <a asp-action="ExternalLogins">External logins </a>
            </div>
            }

        </div>
    </div>
    <div class="row no-gutters">
        <div class="col mt-1">
            <div class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
                <a asp-action="TwoFactorAuthentication">Two-factor authentication</a>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col mt-1">
            <div class="@ManageNavPages.IndexNavClass(ViewContext)">
                <a asp-action="Personaldata">Personal data </a>
            </div>
        </div>
    </div>
    <div class="row no-gutters mt-4"><div></div></div>

</div> *@
