@model IEnumerable<ProductListModel>

<h1>Product List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Product" asp-action="Delete" method="post" id="listForm">
            <table id="dataTbl">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll" /></th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Retail</th>
                        <th>Stock Qty.</th>
                        <th>Published</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td class="sp1">
                                <input type="checkbox" id="@product.Id"name="ids" value="@product.Id" />
                            </td>
                            <td class="sp4">
                                @if (product.MainImage != null)
                                {
                                    <img src="@product.MainImage" style="max-width:200px;max-height:100px;"
                                        class="card-img-top img-fluid" />
                                }
                                else
                                {
                                    <img src="~/images/system/no-image.png" class="card-img-top img-fluid" />
                                }

                            </td>
                            <td class="sp2">
                                @product.Name
                            </td>
                            <td class="sp3">
                                @product.CostPrice
                            </td>
                            <td class="sp3">
                                @product.RetailPrice
                            </td>
                            <td class="sp3">
                                @product.StockQuantity
                            </td>
                            <td class="sp3">
                                @if (product.Published)
                                {
                                    <i class="fa fa-check true-icon" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-close false-icon" aria-hidden="true"></i>
                                }
                            </td>
                            <td class="sp5">
                                <div><a asp-action="Edit" asp-route-id="@product.Id">Edit</a> </div>

                                <div><a asp-action="Details" asp-route-id="@product.Id">Details</a> </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form> <button type="button" id="delete" class="btn btn-danger input-stack-margin">
            <i class="fa fa-trash-o"></i>&nbsp; Delete (selected)</button>
    </div> <!-- col md 12 end -->
</div> <!-- row end -->




@section Scripts {
    <script>
        $('#selectAll').click(function () {
            $('input[name="ids"]').prop('checked', this.checked);
        });
        // delete
        $('#delete').on('click', function (event) {
            var ids = [];
            var form = $('#listForm');
            var checkboxArray = document.getElementsByName('ids');

            // check if checkbox is checked
            for (var i = 0; i < checkboxArray.length; i++) {
                if (checkboxArray[i].checked)
                    ids.push(checkboxArray[i].value);
            }

            // submit form
            if (ids.length > 0) {
                if (confirm("Are you sure you want to delete this item(s)?")) {
                    form.submit();
                }
            }
        });
    </script>
}
